@media (min-width: 768px){

    .modal{
        left: 20rem;
    }

    .container-content{
        margin: 0 5rem;
    }

    .button{
        width: 85%;
        left: 5.5rem;
    }

    .todo-content h1 {
        width: 45rem;
    }
}

@media (min-width: 1024px){

    .modal{
        left: 33rem;
    }

    .container-content{
        margin: 0 15rem;
    }

    .button{
        width: 70%;
        left: 11.5rem;
    }

    .todo-content h1 {
        width: 50rem;
    }
}

@media (min-width: 1440px){

    .modal{
        left: 50rem;
    }

    .modal-content {
        padding: 1rem 10rem 4rem 10rem;
        text-align: center;
    }

    .modal-content button{
        width: 70%;
    }

    .container-content{
        margin: 0 20rem;
    }

    .button{
        width: 40%;
        left: 33rem;
    }

    .todo-content h1 {
        width: 86rem;
    }
}
